*{
  border: 0;
  padding: 0;
  margin: 0;
  }
html { /*baggrunden*/
  background: url(../img/baggrund.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
scroll-behavior: smooth;
}

body {
  background-color: transparent; /*at baggrunden er synlig*/
}
body h1 {
  font-weight: 100; /*skrift tykkelse*/
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
}

.background {
	display: flex;
	position: fixed; /*at baggrunden følger med*/
	padding: none;
	background: repeat;
}

.container { 
}
/* SIDE SKILDERNE*/

.con1 { /* overlappende baggrund*/
  margin-bottom: -20px;
  background-color: rgb(240, 255, 240, 0.1);
}

.con2 {
  background-color: rgb(240, 255, 240, 0.1);
}

.con3 {
  background-color: rgb(240, 255, 240, 0.1);
}

.con4 {
  background-color: rgb(240, 255, 240, 0.1);
}
.con5 {
  background-color: rgb(240, 255, 240, 0.1);
}
.con6 {
  background-color: rgb(240, 255, 240, 0.1);
}



/*LOGO*/

.logo {
	align-content: center;
	width: 80%;
  display: block;
	margin: 50px auto 50px;
	padding-top: 50px
}

@media screen and (max-width: 800px) { /*responsive design til logo */
	.header-logo {
		width: 50%;		
	}
}

/*NAVIGATION*/

/* The navigation bar */
.navbar {
  overflow: hidden;
  background: #333333;
  display: block;
  position: fixed; /* får navbaren til at følge med ned */
  top: 0; /* placere navbaren i toppen */
  margin-bottom: 400px;
  margin-left: 14px;
  width: 100%; /* fuld bredte */
  z-index: 99; /*placere navbaren foran alt på siden*/
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 2px 2px;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: solid 1px #333333;
  border-radius: 10%;
	
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
.active {
  color: red;
}
/* INTRO */

.introText {
  font-size: 1.18rem;
  text-align: center;
  
  
}


/*PARTIOVERSIGT*/

.partiBubbles {
  margin-top: 20px; /*angiver margin på baggrunden bag partioversigten*/
  margin-bottom: 0px;
}
.partioversigt{
	padding-bottom: 20px; /*padding mellem overskrift og partierne*/
	padding-top: 50px;
}

.partitext { /*teksten til partioverisgen*/
	
  padding-bottom: 10px;
  font-size: 1.15rem;

}

.avatar { /*style på logoerne*/
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.progressbar { /* det generelle style på partioversigten*/
  margin-top: 20px;
  padding: 2% 2% 40px;
justify-content: center;
margin-bottom: 300px;
}

.progressbar li { /*style på partilogoerne*/
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  padding: 5px;
}


/* The actual popup (appears on top) */
.popup .popuptext { /*style for logoerne i venstre side*/
  visibility: hidden; /*gemmer popup indtil man klikker*/
  width: 160px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1; /*placere det nye billede oven på partioversigen*/
  top: 100%;
  margin-left: -55px;
}

/* The actual popup (appears on top) */
.popup1 .popuptext1 { /*style for logoerne i højre side*/
  visibility: hidden;
  width: 160px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -600px;
}


/* når du klikker på logoerne for venstre side(hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* når du klikker på logoerne for højre side(hide and show the popup) */
.popup1 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media screen and (max-width: 900px) { /* placeringen af popup ved mobil enhed */
	.popup .popuptext {
    margin-left: -240px; 
	}
	.popup1 .popuptext1 {
		margin-left: -420px; 
  }

  .persona { 	/*style på img til popup mobil enhed */
    display: block;
    margin: 150px; 
    width: 300px;
  
  }
  
	.so-img {  
		width: 500px;
	}
}

@media screen and (min-width: 900px) {
	
	.resultText {
		text-align: start;
	}
}

/* KANDIDAT TEST */

.quizTitel /* style på overskrift*/
{
		text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.partiTestP{ /* style på p tekst*/
	font-size: 1.15rem;
}

.resultText /* style på resultaterne*/
{
  margin-top: -50px; 
  font-size: 1.8rem;
  letter-spacing: 3px;
	z-index: 3; /* placingen på z aksen */
}

.resultText img /* billedene af logoerne når resultaterne kommer*/
{
	display: inline;
  border: none;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.allQuestions /* spørgsmålene*/
{
  padding: 50px 0px 80px 0px;
  font-size: 1.15rem;
  text-align: center;
	
}

.btnQ { /* knapperne til ja og nej*/
  border: 2px solid black;
  background-color: transparent;
  color: black;
  width: 100px;
  margin: 50px 20px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  
}
.btnQ {
  border-color: #333333;
  color: #333333;
}

.btnQ:hover {
  background: #333333;
  color: white;
}
 
/*GRAFIK*/
.img-grafik { /* style på grafik billedet*/
	width: 75%;
	display: block;
	margin: auto;
	padding-bottom: 80px;
}

.grafik { /* style på diven grafik */
	padding-top: 50px;
	padding-bottom: 30px;
}


/*SOCIALE MEDIER*/

.so-overskrift {
	padding: 60px 10px;
}

.so-text {
	text-align: center;
	padding: 50px 0 20px;
}

.social { /* hele socialemedie diven*/
	display: flex;
	width: 100%;
	padding: 80px 0 ;
	position: relative;
	background:image();
}

.so-img { /* billederne af vores sociale medier*/
	width: 100px;
	padding-top: 50px;
}


/*APP*/

.reklamefilm {
	background: #333333;
	margin-bottom: 50px;
	display: block;
	margin: auto;
}

.appen { /* overskriften*/

	padding: 50px 10px 15px ;
}
.app-toptext { /* teksten før video*/
  padding-top: 10px;
  padding-bottom: 20px;
}

.app-afstand{ /* afstand efte kapperne*/
	padding-bottom: 20px;
}

.download { /* teksten efter filmen*/
	text-align: center;
	padding-top: 20px;
}


.info { /* knapperne for download og banner*/
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* farven på knapperne */
.info {
  border-color: #333333;
  color: #333333;
}

.info:hover { 
  background: #333333;
  color: white;
}


/*FOOTER*/

.footer {
  position: relative;
  left: 0;
  bottom: 5px;
  width: 100%;
  background:image(); /* at man kun ser baggrunden fra siden*/
  color: #333333;
  text-align: center;
	padding: 10px;
}

.copy {
	padding: 5px;
}

.links {
	padding-bottom: 20px;
}

/* BANNER SIDE */

.stemBanner {
margin-left: 180px;
padding-top: 50px; 
padding-bottom: 50px;
}

.appBanner {
  float: left;
  margin-left: -168px;
}

.larsBanner {
  float: left;
  padding-left: 180px;
}
.brainBanner {
  float: right;
  margin-right: -150px;
}

.bannerText {
  font-size: 1.15rem;
  text-align: start;
}

/*BACK TO TOP*/
/* button fra w3school */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #333333; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}