

html {
  background: url(../img/baggrund.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}
body h1 {
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
}

.background {
	display: flex;
	position: fixed;
	padding: none;
	background: repeat;
}



/*LOGO*/

.logo {
	align-content: center;
	width: 80%;
	display: block;
	margin: 175px auto 50px;
	
}

@media screen and (max-width: 800px) {
	.header-logo {
		width: 50%;		
	}
}

/*NAVIGATION*/

/* The navigation bar */
.navbar {
  overflow: hidden;
  background: #333333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}


/*PARTIOVERSIGT*/

.partioversigt{
	padding-bottom: 20px;
	padding-top: 100px;
}

.partitext {
	text-align: center;
	padding-bottom: 10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.parti-btn {
	border-radius: 50%;
	padding: 4px;
	background-color: transparent;
}

.progressbar {
  margin-top: 20px;
  padding: 2% 2% 40px;
justify-content: center;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  padding: 5px;
}

.progressbar li:before {
	width: 300px;
	line-height: 30px;
	border: 1px solid #DDDDDD;
	top: 15px;
	left: -50px;
	z-index: -1;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  
  top: 25px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
	content: none;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -55px;
}

/* The actual popup (appears on top) */
.popup1 .popuptext1 {
  visibility: hidden;
  width: 160px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -600px;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup1 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media screen and (max-width: 900px) {
	.popup .popuptext {
		margin-left: -100px; 
		
	}
}

@media screen and (max-width: 900px) {
	.popup1 .popuptext1 {
		margin-left: -440px; 
	}
}

/* KANDIDAT TEST */

.quizTitel
{
	
		text-align: center;
		padding-top: 300px;
}

.partiTestP{
	
	text-align: center;
	font-size: 1.15rem;
}

.resultText
{
	padding-top: -100px; 
	padding-left: 150px;
	
	font-size: 1.7rem;
	text-align: start;
	z-index: 3;
}

.resultText img
{
	display: inline;
	border: none;
}

.allQuestions
{
	
	font-size: 1.15rem;
	text-align: start;
	
}

.btnQ {
	width: 100px;
	height: 40px;
	border: none;
	background-color: palevioletred;
	color: black;
}


/*SOCIALE MEDIER*/

.so-overskrift {
	padding: 60px 10px;
}

.so-text {
	text-align: center;
	padding: 50px 0 20px;
}

.social {
	display: flex;
	width: 100%;
	padding: 200px 0 ;
	position: relative;
	background:image();
}

.so-img {
	width: 100px;
	padding-top: 50px;
}


/*APP*/

.reklamefilm {
	width: 100%;
	background: #333333;
	margin-bottom: 50px;
}


.appen {
	padding: 60px 10px 0;
}

.app-btn {
	padding-bottom: 50px;
	display: block;
	margin: auto;
}

.info {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Blue */
.info {
  border-color: #333333;
  color: #333333;
}

.info:hover {
  background: #333333;
  color: white;
}


/*FOOTER*/

.footer {
  position: relative;
  left: 0;
  bottom: 5px;
  width: 100%;
  background:image();
  color: #333333;
  text-align: center;
}

.copy {
	padding: 5px;
}

/* BANNER SIDE */

.stemBanner {
margin-left: 180px;
padding-top: 50px; 
padding-bottom: 50px;
}

.appBanner {
  float: left;
  margin-left: -168px;
}

.larsBanner {
  float: left;
  padding-left: 200px;
}
.brainBanner {
  float: right;
  margin-right: -150px;
}

.bannerText {
  font-size: 1.15rem;
  text-align: start;
}

/*BACK TO TOP*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #333333; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}